.statuscard {
  width: 100%;
  height: 106px;
  border-radius: 14px;
  border: 1px solid rgb(0, 0, 0, 0.1);
  padding: 25px;
  background-color: #ffffff;

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
    color: #717182;
  }

  &__value {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.07px;
    color: #0a0a0a;
  }

  &__icon-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 9999px;

    &--all {
      background-color: #dbeafe;
    }

    &--uncompleted {
      background-color: #f3e8ff;
    }

    &--completed {
      background-color: #dcfce7;
    }

    &--expired {
      background-color: #ffe2e2;
    }
  }
}
