.todo {
  width: 100%;
  border-radius: 14px;
  border: 1px solid #d1d5dc;
  padding: 16px 24px 24px;
  background-color: #ffffff;

  &__content {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  &__check {
    display: none;
  }

  &__checkbox-box {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 2px solid #d1d5dc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__checkbox-check {
    display: none;
    color: #ffffff;
    font-size: 16px;
  }

  &__check:checked + &__checkbox-box {
    background: #00c950;
    border-color: #00c950;
  }

  &__check:checked + &__checkbox-box &__checkbox-check {
    display: block;
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.44px;

    p {
      margin: 0;
    }
  }

  &__labels {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0;
  }

  &__icons {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 72px;
    height: 32px;
  }

  &__icon {
    &--edit,
    &--delete {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
    }
  }

  &__label {
    &--completed {
      display: none;
      border-radius: 8px;
      padding: 2px 8px;
      background: #dbeafe;
      border: 1px solid #bedbff;
      color: #193cb8;
    }

    &--progress {
      border-radius: 8px;
      padding: 2px 8px;
      background: #f3e8ff;
      border: 1px solid #e9d4ff;
      color: #6e11b0;
    }

    &--high {
      border-radius: 8px;
      padding: 2px 8px;
      background: #ffe2e2;
      border: 1px solid #ffc9c9;
      color: #9f0712;
    }
    &--middle {
      border-radius: 8px;
      padding: 2px 8px;
      background: #fef9c2;
      border: 1px solid #fff085;
      color: #894b00;
    }
    &--low {
      border-radius: 8px;
      padding: 2px 8px;
      background: #dcfce7;
      border: 1px solid #b9f8cf;
      color: #016630;
    }
  }
  &--checked {
    background-color: #f9fafb;
    .todo__title p {
      text-decoration: line-through;
      color: #6a7282;
    }

    .todo__label--progress {
      display: none;
    }

    .todo__label--completed {
      display: block;
    }
  }
}
