.dashboard {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;

  &-label {
    line-height: 14px;
  }

  &__view-todo {
    display: flex;
    gap: 24px;
  }

  &__contents {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 16px 32px;
    justify-content: center;
  }

  &__header {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
  }

  &__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.4px;
  }

  &__logout {
    width: 120px;
    height: 36px;
    border-radius: 8px;
    border: solid 1px rgb(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }

  &__todo {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  .statuscards {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    width: 100%;
  }

  .todorest {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
    color: #717182;
  }

  .todo__items {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .todo__no-items {
    width: 100%;
    height: 98px;
    border-radius: 14px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    color: #717182;
    line-height: 24px;
    letter-spacing: -0.31px;
  }

  @media (max-width: 832px) {
    &__contents {
      width: 308px;
      margin: 16px;
    }
    .statuscards {
      flex-direction: column;
    }
    &__view-todo {
      flex-direction: column;
    }
  }
}
