.dashboard {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.dashboard__contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.dashboard__todo {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.statuscards {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  width: 100%;
}

.todorest {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.15px;
  color: #717182;
}

.todos {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (max-width: 780px) {
  .statuscards {
    flex-direction: column;
  }
}
