.dashboard {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.dashboard__contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.dashboard__todo {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.statuscards {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  width: 100%;
}

.todorest {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.15px;
  color: #717182;
}

.todos {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (max-width: 780px) {
  .statuscards {
    flex-direction: column;
    gap: 24px;
    margin: 16px 32px;
  }

  &__header {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
  }

  &__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.4px;
  }

  &__logout {
    width: 120px;
    height: 36px;
    border-radius: 8px;
    border: solid 1px rgb(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }

  .statuscards {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 832px) {
    &__contents {
      width: 308px;
      margin: 16px;
    }
    .statuscards {
      flex-direction: column;
    }
  }
}
