.statuscards {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.dashboard {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #ffffff;
}

@media (max-width: 727px) {
  .statuscards {
    flex-direction: column;
  }
}
