.dashboard {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;

  &-filter {
    width: 100%;
    border-radius: 14px;
    border: solid 1px rgb(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 24px;
    align-self: flex-start;

    &__header {
      display: flex;
      align-items: center;
      gap: 8px;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -0.44px;
    }

    &__badge {
      border-radius: 8px;
      border: 1px solid #bedbff;
      padding: 2px 8px;
      background-color: #dbeafe;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0px;
      color: #193cb8;
      margin-left: auto;
    }

    &__main {
      display: flex;
      flex-direction: column;
      gap: 16px;
      font-size: 14px;
      margin-top: 30px;
    }

    &__status,
    &__priority,
    &__limit {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &__button {
      width: 100%;
      height: 32px;
      border-radius: 8px;
      border: 1px solid rgb(0, 0, 0, 0.1);
      background-color: #ffffff;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.15px;
      color: #0a0a0a;
      text-align: center;
    }

    &__select {
      padding: 8px 13px;
      width: 100%;
      height: 36px;
      border-radius: 8px;
      border: 1px solid rgb(0, 0, 0, 0.1);
      background-color: #f3f3f5;

      background-image: url("../../assets/images/dropdown.png");
      background-repeat: no-repeat;
      background-position: right 13px center;
    }
  }

  &-label {
    line-height: 14px;
  }

  &__view-todo {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  &__contents {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 16px 32px;
    justify-content: center;
  }

  &__header {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
  }

  &__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.4px;
  }

  &__logout {
    width: 120px;
    height: 36px;
    border-radius: 8px;
    border: solid 1px rgb(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }

  &__todo {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  .statuscards {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    width: 100%;
  }

  .todorest {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
    color: #717182;
  }

  .todo__items {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  @media (max-width: 832px) {
    &__contents {
      width: 308px;
      margin: 16px;
    }
    .statuscards {
      flex-direction: column;
    }
    &__view-todo {
      flex-direction: column;
    }
  }
}
