.auth-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__title {
    color: #0a0a0a;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.07px;
    width: 100%;
    text-align: center;
  }

  &__subtitle {
    color: #717182;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.31px;
    width: 100%;
    text-align: center;
  }
}
