$max-width: 600px;
$border-color: #ccc;
$padding-item: 16px;
$padding-right: 60px;

.todo {
  max-width: $max-width;
  margin: 0 auto;

  /* 入力フォーム */
  &__input {
    display: flex;
    justify-content: center;
    margin: 24px 0;
  }

  &__input-field {
    width: 100%;
    max-width: $max-width;
    padding: 12px 16px;
    font-size: 16px;
  }

  /* Todo1件 */
  &__item {
    display: flex;
    justify-content: center;
    margin: 24px 0;
  }

  /* Todoの中身 */
  &__content {
    font-size: 20px;
    padding: $padding-item $padding-right $padding-item $padding-item;
    border-bottom: 2px solid $border-color;
    position: relative;
  }

  /* ToDoCount */
  &__count {
    text-align: center;
  }

  /* タイトル */
  &__title {
    color: #000;

    &--done {
      color: #aaa;
      text-decoration: line-through;
    }
  }

  /* チェックボックス */
  &__checkbox {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    background-image: url("images/checkbox-off.png");
    &:checked {
      background-image: url("images/checkbox-on.png");
    }
  }

  /* フィルターの状態 */
  &__filter {
    display: flex;
  }

  &__filter-button {
    cursor: pointer;

    &--active {
      background: #000;
      color: #fff;
      border-color: #000;
    }
  }
}
