.button {
  width: 100%;
  height: 36px;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background-color: #030213;

  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.15px;

  text-align: center;
}
