@mixin input-base {
  width: 100%;
  height: 36px;
  padding: 4px 12px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f3f3f5;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 100%;
}

.auth-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 58px;
  width: 100%;

  &__label {
    color: #0a0a0a;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.15px;
  }

  &__input {
    @include input-base;
    color: black;
  }
}
