.dashboard-filter {
  width: 320px;
  border-radius: 14px;
  border: 1px solid rgb(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 24px;
  flex-shrink: 0;

  &__header {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.44px;
  }

  &__badge {
    border-radius: 8px;
    border: 1px solid #bedbff;
    padding: 2px 8px;
    background-color: #dbeafe;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    color: #193cb8;
    margin-left: auto;
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 14px;
    margin-top: 30px;
  }

  &__status,
  &__priority,
  &__limit {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__button {
    width: 100%;
    height: 32px;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    background-color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
    color: #0a0a0a;
    text-align: center;
  }

  &__select {
    padding: 8px 13px;
    width: 100%;
    height: 36px;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    background-color: #f3f3f5;

    background-image: url("../../assets/images/dropdown.png");
    background-repeat: no-repeat;
    background-position: right 13px center;
  }
}
