%font-inter {
  font-family: Inter;
}

@mixin input-base {
  width: 100%;
  height: 36px;
  padding: 4px 12px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f3f3f5;

  @extend %font-inter;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 100%;
}

.login {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;

  &__component {
    background-color: #fff;
    width: 448px;
    height: 360px;
    border-radius: 14px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 26px;
  }
  &__heading {
    width: 100%;
    height: 90px;
    padding: 24px 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: #0a0a0a;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.07px;
    width: 100%;
    text-align: center;
    @extend %font-inter;
  }

  &__subtitle {
    color: #717182;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.31px;
    width: 100%;
    text-align: center;
    @extend %font-inter;
  }

  &__form {
    height: 244px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__fields {
    width: 100%;
    height: 132px;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__field {
    height: 58px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__label {
    color: #0a0a0a;
    @extend %font-inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.15px;
  }

  &__input {
    @include input-base;
    color: black;
  }

  &__action {
    width: 100%;
    height: 96px;
    padding: 0 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__button {
    background-color: #030213;
    width: 100%;
    height: 36px;
    padding: 8px 16px;
    margin: 0 auto;
    display: block;

    color: #fff;
    @extend %font-inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
    text-align: center;
  }

  p {
    @extend %font-inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
    text-align: center;
    color: #717182;
  }

  &__link {
    @extend %font-inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
    color: #030213;
  }
}

@media (max-width: 393px) {
  .login {
    &__component {
      width: 359px;
      height: 360px;
      gap: 26px;
    }

    &__heading {
      padding: 24px 24px 10px 24px;
    }
  }
}
