%font-inter {
  font-family: Inter;
}

@mixin input-base {
  width: 398px;
  height: 36px;
  padding: 4px 12px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f3f3f5;

  @extend %font-inter;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 100%;
}

.login__page {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;

  .login__component {
    background-color: #fff;
    width: 448px;
    height: 344px;
    border-radius: 14px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 21px;

    .login__heading {
      width: 446px;
      height: 90px;
      padding: 24px 24px 0;

      .login__title,
      .login__subtitle {
        @extend %font-inter;
        text-align: center;
      }

      .login__title {
        color: #0a0a0a;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.07px;
      }

      .login__subtitle {
        color: #717182;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.31px;
      }
    }

    .login__form {
      width: 446px;
      height: 132px;
      padding: 0 24px;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .login__field {
        height: 58px;

        .login__label {
          color: #0a0a0a;
          @extend %font-inter;
          font-weight: 500;
          font-size: 14px;
          line-height: 14px;
          letter-spacing: 0.15px;
        }

        .login__input {
          @include input-base;
          color: black;
        }
      }
    }

    .login__action {
      width: 446px;
      height: 96px;
      padding: 0 0 24px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .login__button {
        background-color: #030213;
        width: 398px;
        height: 36px;
        padding: 8px 16px;
        margin: 0 auto;
        display: block;

        color: #fff;
        @extend %font-inter;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.15px;
        text-align: center;
      }

      p,
      .login__link {
        @extend %font-inter;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.15px;
        text-align: center;
      }

      p {
        color: #717182;
      }

      .login__link {
        color: #030213;
      }
    }
  }
}
