.add-todo {
  &__form {
    width: 100%;
    padding: 24px;
    border-radius: 14px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 24px;

    &--fields {
      display: flex;
      flex-direction: row;
      gap: 16px;
      @media (max-width: 780px) {
        flex-direction: column;
      }
    }

    &--field {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100%;
      margin-top: auto;
    }

    &--button {
      border-radius: 8px;
      background: #030213;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.15px;
      color: #ffffff;
      width: 100%;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: auto;
      cursor: pointer;
    }
  }

  &__header {
    gap: 6px;
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.31px;
  }

  &__sub-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.31px;
    color: #717182;
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.input__form {
  border-radius: 8px;
  border: 1px solid rgb(0, 0, 0, 0.1);
  background: #f3f3f5;
  color: #0a0a0a;
  height: 36px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #f3f3f5;
  background-repeat: no-repeat;
  background-position: right 13px center;
  &::placeholder {
    color: #717182;
  }
}
