.edit-todo {
  &__form {
    width: 100%;
    padding: 16px 24px;
    border-radius: 14px;
    border: 1px solid #d1d5dc;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: #f9fafb;

    &--fields {
      display: flex;
      flex-direction: row;
      gap: 16px;
      @media (max-width: 780px) {
        flex-direction: column;
      }
    }

    &--field {
      display: flex;
      flex-direction: column;
      gap: 8px;
      flex: 1;
      width: auto;
    }

    &--title {
      color: #0a0a0a;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__header {
    gap: 6px;
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.31px;
  }

  &__sub-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.31px;
    color: #717182;
  }

  &__buttons {
    border-radius: 8px;
    padding: 6px 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
    width: 100%;
    height: 32px;
    margin-top: auto;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 6px;

    &--save {
      background-color: #030213;
      color: #ffffff;
    }
    &--cancel {
      background-color: #ffffff;
      color: #0a0a0a;
    }
  }
}

.input__form {
  border-radius: 8px;
  border: 1px solid rgb(0, 0, 0, 0.1);
  background: #f3f3f5;
  color: #0a0a0a;
  height: 36px;
  padding-left: 12px;
  padding-right: 12px;
  &::placeholder {
    color: #717182;
  }
}

.edit-todo {
  &__actions {
    display: flex;
    gap: 12px;
    align-items: flex-end;
    flex-shrink: 0;
    width: 100%;
    flex: 1;
  }

  &__button {
    height: 36px;
    padding: 0 16px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
  }

  &__button--save {
    background-color: #030213;
    color: #ffffff;
    border: 1px solid #030213;
    flex: 1;
    text-align: center;
  }

  &__button--cancel {
    background-color: #ffffff;
    color: #0a0a0a;
    border: 1px solid rgba(0, 0, 0, 0.15);
    flex: 1;
    text-align: center;
  }
}
